.gpgpass
sqlprot.txt
0
2
_awk.txt
bulinux_unterschied.txt
bulinuxa.sh
doppelteimporte.sh
geweckt1771090915
gitvdt
inst.log
inst_groff.log
inst_groff.log.bak
inst_groff.log.baksed
instvz
los3.sh
losc.sh
man_de.bak
man_de.gz
man_de.html
man_en.bak
man_en.gz
man_en.html
shvars
spath
uninstallinv
untersch.txt
vars
